body {
    background: linear-gradient(to right, #414345, #232526);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    max-width: 100%;
}

.wip-center-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 1%;
}

.promo-links {
    text-align: center;
    margin-top: auto;
    margin-bottom: 1rem;
}

.wip-title {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #ffffff;
    text-align: center;
    margin-top: 2rem;
}

.wip-text {
    font-family: 'Google Sans Code', monospace;
    font-weight: 400;
    font-size: 2rem;
    color: #ececec;
    text-align: center;
    margin: 1rem 10%;
}

.wip-link-tile img {
    width: 64px;
    height: 64px;
}

.wip-link-tile a {
    text-decoration: none;
    color: #ececec;
    font-family: 'Google Sans Code', monospace;
}

.wip-subtitle {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1rem;
}

.cursor {
    margin-left: 1rem;
}

.cursor::after {
    content: "▂";
    font-weight: bold;
    animation: blink 1s steps(1) infinite;
    color: var(--vscode-pink);
}

.vscode-pink {
    color: var(--vscode-pink);
    font-weight: bold;
    font-family: "Google Sans Code", monospace;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

:root {
    --vscode-pink: #BE7ADC;
}