/* =======================
   Root Variables
======================= */
:root {
    --vscode-pink: #BE7ADC;
    --vscode-yellow: #F9E79F;
    --vscode-blue: #85C1E9;
    --global-border-radius: 15px;
    --global-window-bg: #2a2e38;
    --global-title-color: #dddddd;
    --global-subtitle-color: #aaaaaa;
    --global-text-color: #cccccc;
    --global-border-color: #4a5563;
    --global-python-color: #3572A5;
    --global-data-analysis-color: #FF6F61;
    --global-cpp-color: #F34B7D;
    --global-ue-color: #242323;
    --global-plugin-color: #6E5494;
}

/* =======================
   Reset & Body
======================= */
body {
    background: linear-gradient(to left, #14191f, #1c2129);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    max-width: 100%;
}

/* =======================
   Layout Containers
======================= */
.content {
    max-width: 1200px;
    margin: 5rem auto 0;
}

.header,
.section-1 {
    display: flex;
    gap: 2rem;
    width: 100%;
    margin-bottom: 2rem;
}

.header-content,
.projects,
.links,
.contact,
.fab-products {
    position: relative;
    border: 1px solid var(--global-border-color);
    background-color: var(--global-window-bg);
    padding: 1rem;
    border-radius: var(--global-border-radius);
}

.header-content::before,
.projects::before,
.links::before,
.contact::before,
.fab-products::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18px;
    background: repeating-linear-gradient(45deg,
            var(--global-border-color),
            var(--global-border-color) 4px,
            #07101400 4px,
            #07101400 8px);
    border-top-left-radius: var(--global-border-radius);
    border-top-right-radius: var(--global-border-radius);
}

/* =======================
   Typography
======================= */
.title {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--global-title-color);
}

.title-minor {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--global-title-color);
}

.subtitle,
.project-title {
    font-family: 'Google Sans Code', monospace;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--vscode-pink);
}

.text-content,
.project-description {
    font-family: 'Google Sans Code', monospace;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--global-text-color);
    text-align: justify;
}

.footer-note {
    font-family: 'Google Sans Code', monospace;
    font-weight: 400;
    font-size: 1rem;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 1rem;
}

/* =======================
   Profile & Links
======================= */

.small-window-section {
    width: 30%;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.big-window-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    gap: 1rem;
    align-content: space-around;
    flex-wrap: nowrap;
}

.section-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.small-window-section .links {
    width: 100%;
}

.profile-picture {
    width: 30%;
    flex-shrink: 0;
}

.profile-picture {
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--global-border-color);
}

.links {
    box-sizing: border-box;
    height: fit-content;
}

.social-link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.social-logo {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
}

.social-text {
    font-family: 'Google Sans Code', monospace;
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--global-text-color);
    text-decoration: none;
}

.social-text:hover {
    text-decoration: underline;
}

.text-content-contact {
    font-family: 'Google Sans Code', monospace;
    font-weight: 400;
    font-size: 1rem;
    color: var(--global-text-color);
    margin-bottom: 1rem;
}

.section-link {
    font-family: 'Google Sans Code', monospace;
    font-weight: 400;
    font-size: 1rem;
    color: var(--vscode-yellow);
    text-decoration: none;
    padding-top: 1rem;
}

.section-link:hover {
    text-decoration: underline;
}

/* =======================
   Projects
======================= */
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-thumbnail {
    width: 100%;
    height: auto;
    border-radius: var(--global-border-radius);
    border: 1px solid var(--global-border-color);
    object-fit: cover;
}

.project-title {
    min-height: 2.5em;
}

.project-item {
    box-shadow: 0 4px 10px -10px #636363;
}

.project-item a {
    text-decoration: none;
    color: inherit;
}

.project-item a:hover .project-title {
    text-decoration: underline;
}

.project-tags {
    margin-bottom: 10px;
}

.project-tag-python,
.project-tag-data-analysis,
.project-tag-cpp,
.project-tag-ue,
.project-tag-plugin {
    display: inline-block;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.9rem;
    margin-right: 5px;
    margin-top: 5px;
    font-family: Arimo, sans-serif;
    font-weight: 600;
}

.project-tag-python {
    background-color: var(--global-python-color);
}

.project-tag-data-analysis {
    background-color: var(--global-data-analysis-color);
}

.project-tag-cpp {
    background-color: var(--global-cpp-color);
}

.project-tag-ue {
    background-color: var(--global-ue-color);
}

.project-tag-plugin {
    background-color: var(--global-plugin-color);
}


/* =======================
   Responsive Design
======================= */
@media (max-width: 600px) {

    /* later... */
    .header,
    .section-1 {
        flex-direction: column;
        align-items: center;
    }

    .small-window-section {
        width: 100%;
        justify-content: center;
    }

    .content {
        margin: 2rem auto 0;
    }
}