body {
    background: linear-gradient(to left, #272c36, #1f242c);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    max-width: 100%;
}

.footer-note {
    font-family: 'Google Sans Code', monospace;
    font-weight: 400;
    font-size: 1rem;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 1rem;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 5rem;
}

.header {
    display: flex;
}

.header,
.projects {
    gap: 2rem;
    margin-bottom: 2rem;
}

.title {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--global-title-color);
}

.subtitle,
.project-title {
    font-family: 'Google Sans Code', monospace;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--vscode-pink);
}

.text-content,
.project-description {
    font-family: 'Google Sans Code', monospace;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--global-text-color);
    text-align: justify;
}

.header-content,
.projects {
    border: #4a5563 1px solid;
    background-color: var(--global-window-bg);
    padding: 1rem;
    border-radius: var(--global-border-radius);
}

.profile-picture {
    width: 30%;
    border-radius: 50%;
    object-fit: cover;
    border: var(--global-border-color) 1px solid;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-thumbnail {
    width: 100%;
    height: auto;
    border-radius: var(--global-border-radius);
    border: 1px solid var(--global-border-color);
    object-fit: cover;
}

.links {
    max-width: 30%;
    border: #4a5563 1px solid;
    border-radius: var(--global-border-radius);
    background-color: var(--global-window-bg);
}

/* Define custom color variables */

:root {
    --vscode-pink: #BE7ADC;
    --global-border-radius: 15px;
    --global-window-bg: #2a2e38;
    --global-title-color: #dddddd;
    --global-subtitle-color: #aaaaaa;
    --global-text-color: #cccccc;
    --global-border-color: #4a5563;
}

/* Responsive design for mobile devices */

@media (max-width: 600px) {}